script(src="../js/jquery-3.5.0.min.js")
script(src="../js/popper.min.js")
script(src="../js/bootstrap.bundle.min.js")
script(src="../js/swiper.min.js")
script(src="../js/jquery.nicescroll.js")
script(src="../js/main.js")