@import "../variables/color" ;
@import "../variables/fonts";

footer{
       background-color: #ededed;
       
    font-family:$main-font;
    .br{
        border-top: 3px solid $main-color;
    }
    .logo-1{
     a{
        i{
            font-size: 60px;
          color: $main-color;
        }
        span{
            color: #584528;
            margin-bottom: 0;
            text-transform: uppercase;
            font-family: $second-font;
            letter-spacing: 8px;
            font-size: 14px;
            padding-bottom: 0;
        }
        h1{
            margin-top: -9px;
            padding-top: 0;
            font-size: 35px;
            color: #584528;
        }
        &:hover{
            text-decoration: none;
        }
    }
    }
    p{
        font-size: 12px;
        color: #222;
        line-height: 24px;
    }
    .rooms{
        h2{
            color: $main-color;
            font-size: 36px;
            line-height: 1.7;
        }
        ul{
            li{
                a{
                    color: #222;
                    position: relative;
                    line-height: 35px;
                    
                    &:hover{
                        text-decoration: none;
                        color: $main-color;
                    
                    }
                
                }
            }
        }
        img{
            height: 95px;
            width: 100%;
        }
    }
}