.nav-bar.mb-5
    .contain
        .row.chang
            .col-6.d-lg-flex.d-none.col-lg-6.logo-1 
                a(href="#")
                    div.d-flex
                       i.fa.fa-star
                       div 
                         span Hotel
                         h1 California
                     
            .col-6.d-lg-flex.d-none.hiden.justify-content-between 
                .weather.d-flex
                   img(src="../images/location/pin.png")
                   .san
                     p 3216 W HIGHLAND BLVD
                     p.cool San Diego
                .weather.d-flex
                   img(src="../images/location/cloud.png")
                   .san
                     p NOW
                     p.cool 18°C
                .weather.d-flex
                   img(src="../images/location/cloud1.png")
                   .san
                     p 24 H
                     p.cool 17/19°C
        .row.navbars 
          .col-3.col-md-2.d-lg-none.d-flex.bar.align-items-center
                  i.fa.fa-bars
          .col-8.col-md-10.col-lg-8.d-flex.px-0.align-items-center
             .logo-1
              a.hid.shw(href="#") 
                    div.d-flex
                        i.fa.fa-star
                        div 
                          span Hotel
                          h1 California

             ul.list-unstyled.d-lg-flex.d-none
              li: a.pow(href="index.html") HOME
              li: a.pow(href="rooms.html") ROOMS
              li: a.pow(href="active.html") ACTIVITIS
              li: a.pow(href="page.html") PAGES
              li: a.pow(href="new.html") NEWS
              li: a.power.pow(href="shop.html") SHOP
          .col-4.d-lg-flex.d-none.px-0.justify-content-end.pad.align-items-center
             ul.list-unstyled.d-flex.sol
              li 
               a(href="#")
                    i.fab.fa-facebook-f.mx-3
              li
                a(href="#")
                    i.fab.fa-twitter.mx-3
                    
              li 
                a(href="#")
                    i.fab.fa-google-plus-g.mx-3  
              li.d-flex.serh
                 input(type="text" placeholder="looking for....")
                 button.bot(type="text"): i.fas.fa-search


