.product.mt-5
    .container
        .row
            .col-12.col-md-9
                .pro-tit
                    h4 BUY SOUVENIRES
                    h2 Online Shop
                    hr.wed
                    p Purchase Hotel California souvenires for you and your friends. Show your affection for this great state and where you’ve been on a vacation.
        .row.my-5.selc
            .col-12.col-md-9
                .row.mb-3 
                    .col-12.mb-5.col-md-9
                        p SHOWING 1–12 OF 24 RESULTS
                    .col-12.mb-5.col-md-3
                        select
                            option Defult sorting
                            option Sort by popularity
                            option Sort by average rating
                            option Sort by latest
                            option Sort by price: low to high
                            option Sort by price: high to low
                .row
                    .col-12.mb-5.col-md-4
                        .card(style='width: 100%;')
                            img.mb-3.card-img-top(src='../images/card/mug-red-california-star-big.jpg' alt='Card image cap')
                            .card-body
                                .typ.d-flex
                                    i.far.fa-folder
                                    p mugs
                                h5.card-title Big star red mug
                                ul.list-unstyled.d-flex
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.infill

                                p.card-text
                                    | $ 9.00
                                br
                                a.btn.btn-primary(href='#') Add to card
                    .col-12.mb-5.col-md-4
                        .card(style='width: 100%;')
                            img.mb-3.card-img-top(src='../images/card/tshirt-white-1.jpg' alt='Card image cap')
                            .card-body
                                .typ.d-flex
                                    i.far.fa-folder
                                    p t-shirt
                                h5.card-title Hotel California logo t-shirt 
                                ul.list-unstyled.d-flex
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.infill

                                p.card-text
                                    | $ 30.00 - $35.00
                                br
                                a.btn.btn-primary(href='#') Add to card
                    .col-12.mb-5.col-md-4
                        .card(style='width: 100%;')
                            img.mb-3.card-img-top(src='../images/card/keychain-5.jpg' alt='Card image cap')
                            .card-body
                                .typ.d-flex
                                    i.far.fa-folder
                                    p KEYCHAINS
                                h5.card-title Silver California keychain
                                ul.list-unstyled.d-flex
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill

                                p.card-text
                                    | $ 20.00
                                br
                                a.btn.btn-primary(href='#') Add to card
                .row.mt-5
                    .col-12.mb-5.col-md-4
                        .card(style='width: 100%;')
                            img.mb-3.card-img-top(src='../images/card/keychain-2.jpg' alt='Card image cap')
                            .card-body
                                .typ.d-flex
                                    i.far.fa-folder
                                    p keychain
                                h5.card-title Silver California keychain
                                ul.list-unstyled.d-flex
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.infill
                                    li: i.fa.fa-star.infill

                                p.card-text
                                    | $ 18.00
                                br
                                a.btn.btn-primary(href='#') Add to card
                    .col-12.mb-5.col-md-4
                        .card(style='width: 100%;')
                            img.mb-3.card-img-top(src='../images/card/tshirt-brown-2.jpg' alt='Card image cap')
                            .card-body
                                .typ.d-flex
                                    i.far.fa-folder
                                    p t-shirt
                                h5.card-title Bear t-shirt (brown) 
                                ul.list-unstyled.d-flex
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.infill

                                p.card-text
                                    | $35.00
                                br
                                a.btn.btn-primary(href='#') Add to card
                    .col-12.mb-5.col-md-4
                        .card(style='width: 100%;')
                            img.mb-3.card-img-top(src='../images/card/mug-white-star.jpg' alt='Card image cap')
                            .card-body
                                .typ.d-flex
                                    i.far.fa-folder
                                    p mugs
                                h5.card-title California hotel white mug
                                ul.list-unstyled.d-flex
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill

                                p.card-text
                                    | $ 3.00
                                br
                                a.btn.btn-primary(href='#') Add to card
                .row.mt-5
                    .col-12.mb-5.col-md-4
                        .card(style='width: 100%;')
                            img.mb-3.card-img-top(src='../images/card/mug-brown-california.jpg' alt='Card image cap')
                            .card-body
                                .typ.d-flex
                                    i.far.fa-folder
                                    p mugs
                                h5.card-title California hotel brown mug

                                ul.list-unstyled.d-flex
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.infill
                                    li: i.fa.fa-star.infill
                                    li: i.fa.fa-star.infill

                                p.card-text
                                    | $ 15.00
                                br
                                a.btn.btn-primary(href='#') Add to card
                    .col-12.mb-5.col-md-4
                        .card(style='width: 100%;')
                            img.mb-3.card-img-top(src='../images/card/tshirt-white-2.jpg' alt='Card image cap')
                            .card-body
                                .typ.d-flex
                                    i.far.fa-folder
                                    p t-shirt
                                h5.card-title California bear t-shirt
                                ul.list-unstyled.d-flex
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.infill
                                    li: i.fa.fa-star.infill
                                    li: i.fa.fa-star.infill

                                p.card-text
                                    | $35.00
                                br
                                a.btn.btn-primary(href='#') Add to card
                    .col-12.mb-5.col-md-4
                        .card(style='width: 100%;')
                            img.mb-3.card-img-top(src='../images/card/mug-brown-california-star-big.jpg' alt='Card image cap')
                            .card-body
                                .typ.d-flex
                                    i.far.fa-folder
                                    p mugs
                                h5.card-title Big star brown mug
                                ul.list-unstyled.d-flex
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.infill
                                    li: i.fa.fa-star.infill
                                    li: i.fa.fa-star.infill
                                    li: i.fa.fa-star.infill

                                p.card-text
                                    | $ 9.00
                                br
                                a.btn.btn-primary(href='#') Add to card
                .row.mt-5
                    .col-12.mb-5.col-md-4
                        .card(style='width: 100%;')
                            img.mb-3.card-img-top(src='../images/card/poster-1.jpg' alt='Card image cap')
                            .card-body
                                .typ.d-flex
                                    i.far.fa-folder
                                    p posters
                                h5.card-title California map poster
                                ul.list-unstyled.d-flex
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.infill

                                p.card-text
                                    | $ 10.00
                                br
                                a.btn.btn-primary(href='#') Add to card
                    .col-12.mb-5.col-md-4
                        .card(style='width: 100%;')
                            img.mb-3.card-img-top(src='../images/card/tshirt-red-3.jpg' alt='Card image cap')
                            .card-body
                                .typ.d-flex
                                    i.far.fa-folder
                                    p t-shirt
                                h5.card-title California map t-shirt (red) 
                                ul.list-unstyled.d-flex
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill

                                p.card-text
                                    | $35.00
                                br
                                a.btn.btn-primary(href='#') Add to card
                    .col-12.mb-5.col-md-4
                        .card(style='width: 100%;')
                            img.mb-3.card-img-top(src='../images/card/mug-red-california.jpg' alt='Card image cap')
                            .card-body
                                .typ.d-flex
                                    i.far.fa-folder
                                    p mugs
                                h5.card-title California hotel red mug
                                ul.list-unstyled.d-flex
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.infill
                                    li: i.fa.fa-star.infill
                                    li: i.fa.fa-star.infill

                                p.card-text
                                    | $ 12.00
                                br
                                a.btn.btn-primary(href='#') Add to card
            .col-12.col-md-3.new-1.new-01
                .serch
                    h3.mt-5 Product Categories
                    hr.wed
                    ul.list-unstyled.arch
                        li
                            a(href="#") 
                                span
                                | KEYCHAINS
                        li
                            a(href="#") 
                                span
                                | MUGS
                        li
                            a(href="#") 
                                span
                                | POSTERS
                        li
                            a(href="#") 
                                span
                                | T-SHIRTS
                        li
                            a(href="#") 
                                span
                                | UNCALEGORIZED
                    h3.mt-5 Recent Posts
                    hr.wed
                    div.d-flex.recent.mb-3
                        div
                            a.fr(href="#"): img(src="../images/card/mug-white-bear.jpg")
                        div.ml-3
                            
                            h2: a(href="#") California bear mug
                            ul.list-unstyled.d-flex
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.infill
                                    li: i.fa.fa-star.infill
                                    li: i.fa.fa-star.infill
                            P $9.00
                    div.d-flex.recent.mb-3
                        div
                            a.fr(href="#"): img(src="../images/card/keychain-4.jpg")
                        div.ml-3
                            h2: a(href="#") Silver keychain
                            ul.list-unstyled.d-flex
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.infill
                            P $18.00
                    div.d-flex.recent.mb-3
                        div
                            a.fr(href="#"): img(src="../images/card/tshirt-red-3.jpg")
                        div.ml-3
                            h2: a(href="#") California map t-shirt 
                            ul.list-unstyled.d-flex
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.infill
                                    li: i.fa.fa-star.infill
                            P $35.00
                    div.d-flex.recent.mb-3
                        div
                            a.fr(href="#"): img(src="../images/card/poster-1.jpg")
                        div.ml-3
                            h2: a(href="#") California map poster
                            ul.list-unstyled.d-flex
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.infill
                            P $10.00
                    div.d-flex.recent.mb-3
                        div
                            a.fr(href="#"): img(src="../images/card/mug-red-california.jpg")
                        div.ml-3
                            h2: a(href="#") California hotel mug
                            ul.list-unstyled.d-flex
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.fill
                                    li: i.fa.fa-star.infill
                                    li: i.fa.fa-star.infill
                            P $12.00

                                                    
