- var pagetitle  = "rooms"
doctype html
html
    head
        include ../html/pug/layout/meta
        title #{pagetitle}
        include ../html/pug/layout/link
    body
        include pug/components/sidbar
        include pug/components/navbar
        include pug/components/products



    include ../html/pug/componants/footer
    


    include ../html/pug/layout/script