.book-room.mt-5.py-5
    .container
        .row.justify-content-center.mt-77
            i.fa.fa-star
        .row.py-5.my-5
            .col-12.col-lg-6
                .booket
                    h2 Book your Room
                    hr.wed
                    p Fusce finibus orci dolor, a convallis dolor tincidunt at. Donec est augue, convallis ut feugiat non, euismod ac lorem. Suspendisse vel faucibus dui. In nulla ex, pulvinar ac lorem eget, pulvinar tincidunt magna.
            .col-12.col-md-6
                .row
                    .col-12.mb-3.col-md-6
                        input(type="text" placeholder="Arrival" onblur="(this.type='text')"  onfocus="(this.type='date')")
                        i.far.fa-calendar-alt
                
                    .col-12.mb-3.col-md-6
                        input(type="text" placeholder="Departure" onblur="(this.type='text')"  onfocus="(this.type='date')")
                        i.far.fa-calendar-alt
                .row.mb-3
                    .col-12.mb-3.col-md-6
                       select
                        option Choose a Room
                        option Standard Double Room
                        option Standard Family Room
                        option Garden Family Room
                        option Deluxe Double Room
                        option Executive Junior Suite
                        option Executive Deluxe Suite
                        option Executive Double Suite
                        option Maisonette    
                    .col-12.mb-3.col-md-6
                            select
                                option How many adultes
                                option 1
                                option 2
                                option 3
                                option 4
                                option 5
                                option 6
                                option 7
                                option 8
                                option 9
                                option 10
                    .col-12.mb-3.col-md-6
                        select
                            option How many Childern
                            option 1
                            option 2
                            option 3
                            option 4
                            option 5
                            option 6
                            option 7
                            option 8
                            option 9
                            option 10
                    .col-12.mb-3.col-md-6
                        a(href="#") Book Now

