section.room.offer
    .container
       .row.offer-image
           .col-12.col-md-6.col-lg-3.pr-md-0
                div.r-1.fad
                   a(href ="#").shw.shw1
                      h4.ro Room features
                      ul.list-unstyled.d-flex
                        li.mr-3: img(src="../images/rooms/monitor.png")
                        li.mr-3: img(src="../images/rooms/fishing-boat.png")
                        li.mr-3: img(src="../images/rooms/coffee.png")
                        
                      
                h4 GARDEN 
                h5 Family Room
                p.Lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mollis viverra diam ac ornare. Donec rhoncus nisi in felis congue, at pulvinar nibh dapibus.
                .det.mb-5.d-flex.align-items-center
                    a(href="#") DETAILS
                    div 
                        p FROM
                        p.red $89 / night
           .col-12.col-md-6.col-lg-3.pr-md-0
                div.r-2.fad
                   a(href ="#").shw.shw1
                      h4.ro Room features
                      ul.list-unstyled.d-flex
                        li.mr-3: img(src="../images/rooms/monitor.png")
                        li.mr-3: img(src="..//images/rooms/pool.png")
                        li.mr-3: img(src="../images/rooms/coffee.png")
                        
                h4 EXECUTIVE 
                h5 Double Suite
                p.Lorem Sed sodales tortor non metus iaculis, non commodo . Ut at dolor elit. Proin dignissim, lacus eget ullamcorper consectetur, mauris mi mattis elit sagittis.
                .det.mb-5.d-flex.align-items-center
                    a(href="#") DETAILS
                    div 
                        p FROM
                        p.red $119 / night
           .col-12.col-md-6.col-lg-3.pr-md-0
                div.r-3.fad
                   a(href ="#").shw.shw1
                     h4.ro Room features
                      ul.list-unstyled.d-flex
                        li.mr-3: img(src="../images/rooms/monitor.png")
                        li.mr-3: img(src="../images/rooms/orange-juice.png")
                        li.mr-3: img(src="../images/rooms/sleep.png")
                        
                h4 EXECUTIVE 
                h5 DELUXE Suite
                p.Lorem Mauris suscipit lectus pellentesque ante efficitur, at dignissim tellus maximus. Sed leo magna, faucibus non ante non, pulvinar scelerisque magna sit elis.
                .det.mb-5.d-flex.align-items-center
                    a(href="#") DETAILS
                    div 
                        p FROM
                        p.red $109 / night
           .col-12.col-md-6.col-lg-3.pr-md-0
                div.r-4.fad
                   a(href ="#").shw.shw1
                      h4.ro Room features
                      ul.list-unstyled.d-flex
                        li.mr-3: img(src="../images/rooms/monitor.png")
                        li.mr-3: img(src="../images/rooms/fishing-boat.png")
                        li.mr-3: img(src="../images/rooms/coffee.png")
                        
                h4 DETACHED 
                h5 Maisonette
                p.Lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mollis viverra diam ac ornare. Donec rhoncus nisi in felis congue, at pulvinar nibh dapibus.
                .det.mb-5.d-flex.align-items-center
                    a(href="#") DETAILS
                    div 
                        p FROM
                        p.red $129 / night

