- var pageTitle = "California hotle";
doctype html
html
  head
    include pug/layout/meta
    title #{pageTitle}
    include pug/layout/link
    

  body
    include pug/componants/sidBar
    include pug/componants/navbar
    include pug/componants/header
    include pug/componants/book
    include pug/componants/guests 
    include pug/componants/offer
    include pug/componants/active
    include pug/componants/room
    include pug/componants/hotel
    include pug/componants/blog
    include pug/componants/footer

    include pug/layout/script