.customer.mt-5.py-5
    .container.py-5
        .swiper-container.py-5
            .swiper-wrapper
                .swiper-slide.mb-3
                    .row
                        .col-12.col-md-4
                            .cust-1
                                img(src="../images/guests/summer-testimonial.jpg")
                                p.my-3: em This was our absolutely best vacation ever, for each and everyone of us. We were looking for a good family hotel with lots of activities for the whole family and that was exactly what we got!
                                h3 June 2016
                                h2 Alan Jones
                        .col-12.col-md-4
                            .cust-1
                                img(src="../images/guests/summer-testimonial-2.jpg")
                                p.my-3: em I was looking for a nice hotel, but with various activities when staying there. Boy, was I surprised! California was anything but boring and all the things I did and places I visited was well worth it!
                                h3 July 2016
                                h2 Adrianne  White
                        .col-12.col-md-4
                            .cust-1
                                img(src="../images/guests/summer-testimonial-3-160x160.jpg")
                                p.my-3: em The best vacation for me and my fiancee, and a very affordable I might add! I throughly enjoyed every day at the beach, and every minute in the room, restaurant, everywhere! I can recommend this to everyone!
                                h3 AUGUST 2016
                                h2 Jenna & mike
                .swiper-slide.mb-3
                    .row
                        .col-12.col-md-4
                            .cust-1
                                img(src="../images/guests/summer-testimonial.jpg")
                                p.my-3: em This was our absolutely best vacation ever, for each and everyone of us. We were looking for a good family hotel with lots of activities for the whole family and that was exactly what we got!
                                h3 June 2016
                                h2 Alan Jones
                        .col-12.col-md-4
                            .cust-1
                                img(src="../images/guests/summer-testimonial-2.jpg")
                                p.my-3: em I was looking for a nice hotel, but with various activities when staying there. Boy, was I surprised! California was anything but boring and all the things I did and places I visited was well worth it!
                                h3 July 2016
                                h2 Adrianne White
                        .col-12.col-md-4
                            .cust-1
                                img(src="../images/guests/summer-testimonial-3-160x160.jpg")
                                p.my-3: em The best vacation for me and my fiancee, and a very affordable I might add! I throughly enjoyed every day at the beach, and every minute in the room, restaurant, everywhere! I can recommend this to everyone!
                                h3 AUGUST 2016
                                h2 Jenna & mike
            .swiper-button-next
                i.fas.fa-angle-right
            .swiper-button-prev
                i.fas.fa-angle-left
