section.header.hed
   .swiper-container
        .swiper-wrapper
            .swiper-slide.ban-1
                .container
                   .content-1
                         .row.d-block
                            h2
                                em Beautiful
                                | beaches
                           
                            hr.wed
                            
                            p Enjoying the sun and sea has never been so easy. At the beach of hotel California, you’ll find our most complete service, great seaside and easy going staff.
                         .row
                            .water.d-flex
                               i.fas.fa-swimmer
                               div
                                 p.mb-0.pb-0 water
                                 h3.mt-0.pt-0 Sailing
                            .water.d-flex
                               i.fas.fa-bed
                               div
                                 p.mb-0.pb-0 View our
                                 h3.mt-0.pt-0 Rooms & Suites

