.inst.mb-5.pb-5
        .row.mx-0.px-0
            .col-12.col-md-4.col-lg-2.ipad
                img(src="../images/colorful/summer-overview-02.jpg")
            .col-12.col-md-4.col-lg-2.ipad
                img(src="../images/colorful/summer-overview-03.jpg")
            .col-12.col-md-4.col-lg-2.ipad
                img(src="../images/colorful/summer-overview-04.jpg")
            .col-12.col-md-4.col-lg-2.ipad
                img(src="../images/colorful/summer-overview-06.jpg")
            .col-12.col-md-4.col-lg-2.ipad
                img(src="../images/colorful/summer-overview-05.jpg")
            .col-12.col-md-4.col-lg-2.ipad
                img(src="../images/colorful/summer-overview-01.jpg")
            