.sidbar-nav
   .times
      i.fas.fa-times
   .container
      .row
        .col-12.logo: a(href="#"): img(src="../images/logo/logo.png")
        .col-12.marg-top
           .row.justify-content-center.soial
              i.fab.fa-facebook-f.mx-3
              i.fab.fa-twitter.mx-3
              i.fab.fa-google-plus-g.mx-3
        .col-12
          form(method="post") 
            input(type="text" class="textbox" placeholder="looking for....")
            button(title="Search"  type="submit" class="button-submit"): i.fas.fa-search
        hr.horz
        .col-12.list-icons
            ul.list-unstyled
              li
               a.act.act-1(href="index.html") HOME 
               i.fas.fa-angle-down.rot
               ul.list-unstyled.list-children
                 li
                  a.acv.acv-1(href="#") Street view
                 li
                  a.acv(href="#") City evening
                 li
                  a.acv(href="#") Evening horizon
                 li
                  a.acv(href="#") Hotel exterior
                 li
                  a.acv(href="#") Boat & sea
                 li
                  a.acv(href="#") Pool fullscreen
                 li
                  a.acv(href="#") Happy faces

              li
               a.act.act-2(href="rooms.html") ROOMS 
               i.fas.fa-angle-down
               ul.list-unstyled.list-children.non
                 li
                  a.acv.acv-2(href="#") Overview
                 li
                  a.acv(href="#") Overview, layout 2
                 li
                  a.acv(href="#") Room details
                 li
                  a.acv(href="#") Room details, layout 2
              li
               a.act.act-3(href="active.html") ACTIVITIES 
               i.fas.fa-angle-down
               ul.list-unstyled.list-children.non
                 li
                  a.acv.acv-3(href="#") What to see
                 li
                  a.acv(href="#") For Kids
                 li
                  a.acv(href="#") Spa & Wellness 
              li
               a.active.act.act-4(href="page.html") PAGES 
               i.fas.fa-angle-down
               ul.list-unstyled.list-children.non
                 li
                  a.active.acv.acv-4(href="#") Overview
                 li
                  a.acv(href="#") Amenities
                 li
                  a.acv(href="#") Special offers 
                 li
                  a.acv(href="#") Gallery
                  i.fas.fa-angle-down
                  ul.list-unstyled.list-children.non 
                    li
                     a.acv(href="#") Classic
                    li
                     a.acv(href="#") Portfolio tiles
                    li
                     a.acv(href="#") Portfolio grid 
                 li
                  a.acv(href="#") Contact
                 li
                  a.acv(href="#") Cost Calculator 
                 li
                  a.acv(href="#") Restaurant
                 li
                  a.acv(href="#") Sample Typography 
              li
               a.act.act-5(href="new.html") NEWS 
               i.fas.fa-angle-down
               ul.list-unstyled.list-children.non 
                    li
                     a.acv.acv-5(href="#") Classic
                    li
                     a.acv(href="#") Columns
                    li
                     a.acv(href="#") Simple 
                    li
                      a.acv(href="#") With avatar
                    li
                      a.acv(href="#") Grid 
                    li
                      a.acv(href="#") Tiles
                    li
                      a.acv(href="#") Tiles with titles 
              li
               a.act.act-6(href="shop.html") SHOP 
               i.fas.fa-angle-down
               ul.list-unstyled.list-children.non 
                    li
                     a.acv.acv-6(href="#") Products
                    li
                     a.acv(href="#") Single product
                    li
                     a.acv(href="#") Cart 
                    li
                      a.v(href="#") Checkout
                    li
                      a.acv(href="#") My Account 
        hr.horz
        .loction.text-center.w-100
            a(href="#"): img.we(src="../images/location/pin.png")
            p 3216 W Highland Blvd
            p.colr San Diego
        .loction.text-center.w-100
            a(href="#"): img.we(src="../images/location/cloud.png")
            p NOW
            p.colr 21°C
        .loction.text-center.w-100
            a(href="#"): img.we(src="../images/location/cloud1.png")
            p 24H
            p.colr 17/20°C