section.blog.py-5.my-5.offer
    .container
      .row
        .Suites.col-12.col-md-6.pb-5.mb-5
            h2 News & Blog
            hr.wed
            p Morbi pharetra faucibus purus, nec pretium enim luctus quis. Pellentesque aliquet venenatis ante, quis pretium neque tristique eget. Integer in luctus urna. Aenean rutrum sodales pharetra.
      .row.offer-image
           .col-12.col-lg-4.mb-3
                div.fad.blog-1
                   a(href ="#").shw
                      i.fas.fa-plus-circle
                .gr      
                  h4 
                    i.far.fa-calendar-alt
                    |FEBRUARY 7, 2016
                  h5 New family rooms
                  p.Lorem Curabitur consequat id lorem ac feugiat. In hac habitasse platea dictumst. Donec blandit, tellus vitae volutpat consequat, sapien ex congue dui.
                  .det.mb-5.d-flex.align-items-center
                    a(href="#") 
                      i.fas.fa-pen
                      | Admine  .
                    a(href="#")
                      i.far.fa-comments
                      |0 .
                    a(href="#")
                      i.far.fa-folder
                      |AUDIO, VIDEO
           .col-12.col-lg-4.mb-3
                div.blog-2.fad
                   a(href ="#").shw
                      i.fas.fa-plus-circle
                .gr     
                  h4 
                    i.far.fa-calendar-alt
                    |FEBRUARY 15, 2016
                  h5 Main pool reopened
                  p.Lorem Aliquam eget efficitur dui. Praesent eget sollicitudin lectus, eu suscipit ex. Morbi non est in lorem luctus aliquet. Ut imperdiet eget velit eu vehicula.
                  .det.mb-5.d-flex.align-items-center
                    a(href="#") 
                      i.fas.fa-pen
                      | Admine  .
                    a(href="#")
                      i.far.fa-comments
                      |0 .
                    a(href="#")
                      i.far.fa-folder
                      |AUDIO, VIDEO
           .col-12.col-lg-4.mb-3
                div.blog-3.fad
                   a(href ="#").shw
                      i.fas.fa-plus-circle
                .gr     
                  h4 
                    i.far.fa-calendar-alt
                    | FEBRUARY 2, 2016
                  h5 Lots of activities planned
                
                  p.Lorem Suspendisse in molestie justo. Aliquam vestibulum est nec ultrices egestas. Vestibulum id risus ex. Nam pharetra nunc in ligula laoreet auctor.
                  .det.mb-5.d-flex.align-items-center
                    a(href="#") 
                      i.fas.fa-pen
                      | Admine  .
                    a(href="#")
                      i.far.fa-comments
                      |0 .
                    a(href="#")
                      i.far.fa-folder
                      |AUDIO, VIDEO
