footer
   .container.br.py-5
      .row.py-5
        .col-12.col-md-6.col-lg-3
            .logo-1.mb-3
               a(href="#")
                    div.d-flex
                       i.fa.fa-star
                       div 
                         span Hotel
                         h1 California
            div
                p
                 |Address
                 br
                 |3216 W Highland Boulevard
                 br
                 |San Diego
                 br
                 |California
                 br
                 |USA
                p
                 |Contact
                 br
                 |+555-40-220-6672
                 br 
                 |office@california.hotel
        .col-12.col-md-6.col-lg-3.rooms
            h2.mb-3 Rooms
            ul.list-unstyled
                li: a(href="#") Standard Room
                li: a(href="#") Double Room
                li: a(href="#") Family Room
                li: a(href="#") Standard Suite
                li: a(href="#") California Suite
                li: a(href="#") Deluxe Suite
        .col-12.col-md-6.col-lg-3.rooms
            h2.mb-3 About us
            ul.list-unstyled
                li: a(href="#") Overview
                li: a(href="#") Contcat
                li: a(href="#") What to see
                li: a(href="#") Places to visit
                li: a(href="#") Hotel Activites
                li: a(href="#") Excursions
        .col-12.col-md-6.col-lg-3.rooms
            h2.mb-3 About us
            img.mb-3(src="../images/footer/summer-awards.png")
            p A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence.

            