.offer.py-5
    .container
        .row.justify-content-center.mb-5.mt-77
           i.fa.fa-star
        .row.py-5
           .col-12.col-md-6
           .col-12.col-md-6
                    h4 GET THE BEST RATE
                    h2 Offers & Deals
                    hr.wed
                    p If you chose to stay with us you will enjoy modern home comforts in a traditional setting. Whether you are looking for a short weekend break or a longer holiday, we offer a range of packages that we think cater for all.
        .row.offer-image
           .col-12.col-lg-4
                div.fad
                   a(href ="#").shw
                      i.fas.fa-plus-circle
                      h4 GET TOGETHER 
                      h5 Family vacation
                h4 GET TOGETHER 
                h5 Family vacation
                ul.list-unstyled.d-flex.py-3
                    li: i.fas.fa-bus-alt
                    li: i.fas.fa-wifi
                    li: i.fas.fa-biking
                p.Lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mollis viverra diam ac ornare. Donec rhoncus nisi in felis congue, at pulvinar nibh dapibus.
                .det.mb-5.d-flex.align-items-center
                    a(href="#") DETAILS
                    div 
                        p FROM
                        p.red $59 / night
           .col-12.col-lg-4
                div.fad-1.fad
                   a(href ="#").shw
                      i.fas.fa-plus-circle
                      h4 GET TOGETHER 
                      h5 Family vacation
                h4 CELEBRATE 
                h5 Newlyweds weekend
                ul.list-unstyled.d-flex.py-3
                    li: i.fas.fa-car-alt
                    li: i.fas.fa-plane
                    li: i.fas.fa-medal
                p.Lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mollis viverra diam ac ornare. Donec rhoncus nisi in felis congue, at pulvinar nibh dapibus.
                .det.mb-5.d-flex.align-items-center
                    a(href="#") DETAILS
                    div 
                        p FROM
                        p.red $59 / night
           .col-12.col-lg-4
                div.fad-2.fad
                   a(href ="#").shw
                      i.fas.fa-plus-circle
                      h4 GET TOGETHER 
                      h5 Family vacation
                h4 PROCRASTINATE 
                h5 Lazy weekend
                ul.list-unstyled.d-flex.py-3
                    li: i.fas.fa-car-alt
                    li: i.fas.fa-plane
                    li: i.fas.fa-wifi               
                    li: i.fas.fa-biking
                    li: i.fas.fa-cog
                p.Lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mollis viverra diam ac ornare. Donec rhoncus nisi in felis congue, at pulvinar nibh dapibus.
                .det.mb-5.d-flex.align-items-center
                    a(href="#") DETAILS
                    div 
                        p FROM
                        p.red $59 / night




