section.room.offer.py-5.my-5
    .container
      .row
        .Suites.col-12.col-md-9.pb-5.mb-5
            h2 Rooms & Suites
            hr.wed
            p you chose to stay with us you will enjoy modern home comforts in a traditional setting. Whether you are looking for a short weekend break or a longer holiday, we offer a range of packages that will cater for all.

      .row.offer-image
           .col-12.col-md-6.col-lg-3.pr-md-0
                div.f-img-1.fad
                   a(href ="#").shw.shw1
                      h4.ro Room features
                      ul.list-unstyled.d-flex
                        li.mr-3: img(src="../images/rooms/monitor.png")
                        li.mr-3: img(src="../images/rooms/fishing-boat.png")
                        li.mr-3: img(src="../images/rooms/coffee.png")
                        
                      
                h4 DELUXE 
                h5 Double Room
                p.Lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mollis viverra diam ac ornare. Donec rhoncus nisi in felis congue, at pulvinar nibh dapibus.
                .det.mb-5.d-flex.align-items-center
                    a(href="#") DETAILS
                    div 
                        p FROM
                        p.red $59 / night
           .col-12.col-md-6.col-lg-3.pr-md-0
                div.f-img-2.fad
                   a(href ="#").shw.shw1
                      h4.ro Room features
                      ul.list-unstyled.d-flex
                        li.mr-3: img(src="../images/rooms/monitor.png")
                        li.mr-3: img(src="..//images/rooms/pool.png")
                        li.mr-3: img(src="../images/rooms/coffee.png")
                        
                h4 CELEBRATE 
                h5 Junior Suite
                p.Lorem Sed sodales tortor non metus iaculis, non commodo . Ut at dolor elit. Proin dignissim, lacus eget ullamcorper consectetur, mauris mi mattis elit sagittis.
                .det.mb-5.d-flex.align-items-center
                    a(href="#") DETAILS
                    div 
                        p FROM
                        p.red $59 / night
           .col-12.col-md-6.col-lg-3.pr-md-0
                div.f-img-3.fad
                   a(href ="#").shw.shw1
                     h4.ro Room features
                      ul.list-unstyled.d-flex
                        li.mr-3: img(src="../images/rooms/monitor.png")
                        li.mr-3: img(src="../images/rooms/orange-juice.png")
                        li.mr-3: img(src="../images/rooms/sleep.png")
                        
                h4 DELUXE 
                h5 Double Room
                p.Lorem Mauris suscipit lectus pellentesque ante efficitur, at dignissim tellus maximus. Sed leo magna, faucibus non ante non, pulvinar scelerisque magna sit elis.
                .det.mb-5.d-flex.align-items-center
                    a(href="#") DETAILS
                    div 
                        p FROM
                        p.red $59 / night
           .col-12.col-md-6.col-lg-3.pr-md-0
                div.f-img-4.fad
                   a(href ="#").shw.shw1
                      h4.ro Room features
                      ul.list-unstyled.d-flex
                        li.mr-3: img(src="../images/rooms/monitor.png")
                        li.mr-3: img(src="../images/rooms/fishing-boat.png")
                        li.mr-3: img(src="../images/rooms/coffee.png")
                        
                h4 DELUXE 
                h5 Family Room
                p.Lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mollis viverra diam ac ornare. Donec rhoncus nisi in felis congue, at pulvinar nibh dapibus.
                .det.mb-5.d-flex.align-items-center
                    a(href="#") DETAILS
                    div 
                        p FROM
                        p.red $59 / night



                




