@import "../variables/color" ;
@import "../variables/fonts";
.hed{
    .ban-1{
        background-image: url(../images/banner/summer-overview-07.jpg);
    }
    .wed{
        background-color: #222 !important;
    }
    .content-1 {

    .water i{
        background-color: $main-color;
        border-color: $main-color;
    }



    }
}