.new-1.mb-5
    .container
        .row
            .col-12.order-0.col-md-8
                a.im.mb-3(href="#")
                .paper.mb-5
                    a.im-1(href="#")
                        i.far.fa-folder
                        | AUDIO . VIDEO
                    h2
                        i.fas.fa-thumbtack
                        span New family rooms
                    .admin
                        p
                            i.far.fa-calendar-alt
                            | February 7, 2016 .
                        span
                            i.fas.fa-pen
                            | Admine  .
                        span
                            i.far.fa-comments
                            | 0
                    p Curabitur consequat id lorem ac feugiat. In hac habitasse platea dictumst. Donec blandit, tellus vitae volutpat consequat, sapien ex congue dui.
                    hr
                    .pap.d-block.d-md-flex.mt-5.text-center.text-md-left
                        a.continue(href="#") CONTINUE READING
                        ul.mt-5.mt-md-0.list-unstyled.d-flex.justify-content-center.justify-content-md-left
                            li: a(href="#"): i.fab.fa-facebook-f 
                            li: a(href="#"): i.fab.fa-twitter 
                            li: a(href="#"): i.fab.fa-linkedin-in 
                            li: a(href="#"): i.fab.fa-google-plus-g  
                .swiper-container.mb-3
                    .swiper-wrapper
                        .swiper-slide.ban.ban-1
                            
                        .swiper-slide.ban.ban-2

                        .swiper-slide.ban.ban-3
                            
                        .swiper-slide.ban.ban-4

                        .swiper-slide.ban.ban-5
                            
                        
                            
                    .swiper-button-next
                        i.fas.fa-angle-right
                    .swiper-button-prev
                        i.fas.fa-angle-left
                .paper.mb-5
                    a.im-1(href="#")
                        i.far.fa-folder
                        | GALLERY
                    h2
                    
                        span Main pool reopened
                    .admin
                        p
                            i.far.fa-calendar-alt
                            | February 7, 2016 .
                        span
                            i.fas.fa-pen
                            | Admine  .
                        span
                            i.far.fa-comments
                            | 0
                    p Aliquam eget efficitur dui. Praesent eget sollicitudin lectus, eu suscipit ex. Morbi non est in lorem luctus aliquet. Ut imperdiet eget velit eu vehicula.
                    hr
                    .pap.d-block.d-md-flex.mt-5.text-center.text-md-left
                        a.continue(href="#") CONTINUE READING
                        ul.mt-5.mt-md-0.list-unstyled.d-flex.justify-content-center.justify-content-md-left
                            li: a(href="#"): i.fab.fa-facebook-f 
                            li: a(href="#"): i.fab.fa-twitter 
                            li: a(href="#"): i.fab.fa-linkedin-in 
                            li: a(href="#"): i.fab.fa-google-plus-g  
                .swiper-container.mb-3
                    .swiper-wrapper
                        .swiper-slide.ban.ban-01
                            
                        .swiper-slide.ban.ban-02

                        .swiper-slide.ban.ban-03
                            
                        .swiper-slide.ban.ban-04

                        
                            
                        
                            
                    .swiper-button-next
                        i.fas.fa-angle-right
                    .swiper-button-prev
                        i.fas.fa-angle-left
                .paper.mb-5
                    a.im-1(href="#")
                        i.far.fa-folder
                        | GALLERY . IMAGE
                    h2
                    
                        span Lots of activities planned
                    .admin
                        p
                            i.far.fa-calendar-alt
                            | February 7, 2016 .
                        span
                            i.fas.fa-pen
                            | Admine  .
                        span
                            i.far.fa-comments
                            | 0
                    p Suspendisse in molestie justo. Aliquam vestibulum est nec ultrices egestas. Vestibulum id risus ex. Nam pharetra nunc in ligula laoreet auctor.
                    hr
                    .pap.d-block.d-md-flex.mt-5.text-center.text-md-left
                        a.continue(href="#") CONTINUE READING
                        ul.mt-5.mt-md-0.list-unstyled.d-flex.justify-content-center.justify-content-md-left
                            li: a(href="#"): i.fab.fa-facebook-f 
                            li: a(href="#"): i.fab.fa-twitter 
                            li: a(href="#"): i.fab.fa-linkedin-in 
                            li: a(href="#"): i.fab.fa-google-plus-g  
                a.im.i-01.mb-3(href="#")
                .paper.mb-5
                    a.im-1(href="#")
                        i.far.fa-folder
                        | IMAGE
                    h2
                        
                        span Beach prepared for new season
                    .admin
                        p
                            i.far.fa-calendar-alt
                            | September 8, 2015 .
                        span
                            i.fas.fa-pen
                            | Admine  .
                        span
                            i.far.fa-comments
                            | 0
                    p Suspendisse pharetra mattis molestie. Sed vitae tempus ipsum. Nam ultrices elit quis lectus suscipit, id cursus nisl tristique. Aenean id dapibus lacus. Sed a mollis felis, eu lobortis purus.
                    hr
                    .pap.d-block.d-md-flex.mt-5.text-center.text-md-left
                        a.continue(href="#") CONTINUE READING
                        ul.mt-5.mt-md-0.list-unstyled.d-flex.justify-content-center.justify-content-md-left
                            li: a(href="#"): i.fab.fa-facebook-f 
                            li: a(href="#"): i.fab.fa-twitter 
                            li: a(href="#"): i.fab.fa-linkedin-in 
                            li: a(href="#"): i.fab.fa-google-plus-g  
                a.im.i-02.mb-3(href="#")
                .paper.mb-5
                    a.im-1(href="#")
                        i.far.fa-folder
                        | IMAGE
                    h2
                        
                        span Best night photo at hotel
                    .admin
                        p
                            i.far.fa-calendar-alt
                            | September 3, 2015 .
                        span
                            i.fas.fa-pen
                            | Admine  .
                        span
                            i.far.fa-comments
                            | 1
                    p Vivamus at convallis dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec egestas dolor vel pharetra consequat. Nullam ac leo non magna blandit fermentum a nec lectus.
                    hr
                    .pap.d-block.d-md-flex.mt-5.text-center.text-md-left
                        a.continue(href="#") CONTINUE READING
                        ul.mt-5.mt-md-0.list-unstyled.d-flex.justify-content-center.justify-content-md-left
                            li: a(href="#"): i.fab.fa-facebook-f 
                            li: a(href="#"): i.fab.fa-twitter 
                            li: a(href="#"): i.fab.fa-linkedin-in 
                            li: a(href="#"): i.fab.fa-google-plus-g  
                .san.mb-3.text-center
                    i.mb-3.fas.fa-link
                    h2.mb-5 What to do when in San Diego
                    a(href="HTTP://WWW.SANDIEGO.COM/") HTTP://WWW.SANDIEGO.COM/
                .paper.mb-5
                    a.im-1(href="#")
                        i.far.fa-folder
                        | AUDIO . VIDEO
                    h2
                        
                        span What to do when in San Diego
                    .admin
                        p
                            i.far.fa-calendar-alt
                            | August 25, 2015 .
                        span
                            i.fas.fa-pen
                            | Admine  .
                        span
                            i.far.fa-comments
                            | 1
                    p Fusce vitae arcu nec nulla convallis lobortis sollicitudin vitae lacus. Duis lacinia enim id velit pharetra laoreet. Sed eu nulla sodales, tempus metus a, tempus nulla.
                    hr
                    .pap.d-block.d-md-flex.mt-5.text-center.text-md-left
                        a.continue(href="#") CONTINUE READING
                        ul.mt-5.mt-md-0.list-unstyled.d-flex.justify-content-center.justify-content-md-left
                            li: a(href="#"): i.fab.fa-facebook-f 
                            li: a(href="#"): i.fab.fa-twitter 
                            li: a(href="#"): i.fab.fa-linkedin-in 
                            li: a(href="#"): i.fab.fa-google-plus-g  
                .swiper-container.mb-3
                    .swiper-wrapper
                        .swiper-slide.ban.ban-001
                            
                        .swiper-slide.ban.ban-002

                        .swiper-slide.ban.ban-003
                            
                        .swiper-slide.ban.ban-004

                        
                            
                        
                            
                    .swiper-button-next
                        i.fas.fa-angle-right
                    .swiper-button-prev
                        i.fas.fa-angle-left
                .paper.mb-5
                    a.im-1(href="#")
                        i.far.fa-folder
                        | GALLERY 
                    h2
                    
                        span New interconnecting rooms
                    .admin
                        p
                            i.far.fa-calendar-alt
                            | August 6, 2015 .
                        span
                            i.fas.fa-pen
                            | Admine  .
                        span
                            i.far.fa-comments
                            | 0
                    p Ut vitae fermentum diam. Quisque ultricies a libero non feugiat. Maecenas nec purus eu leo scelerisque auctor. In venenatis ligula quis neque facilisis luctus.
                    hr
                    .pap.d-block.d-md-flex.mt-5.text-center.text-md-left
                        a.continue(href="#") CONTINUE READING
                        ul.mt-5.mt-md-0.list-unstyled.d-flex.justify-content-center.justify-content-md-left
                            li: a(href="#"): i.fab.fa-facebook-f 
                            li: a(href="#"): i.fab.fa-twitter 
                            li: a(href="#"): i.fab.fa-linkedin-in 
                            li: a(href="#"): i.fab.fa-google-plus-g  
                .san.mb-3.text-center
                    p Well, when I was a kid, I grew up in San Diego next to the ocean. The ocean was my friend - my best friend.
                    span.mt-3 ROBERT BALLARD
                .paper.mb-5
                    a.im-1(href="#")
                        i.far.fa-folder
                        | UNCATEGORIZED
                    h2
                        
                        span The ocean is my friend

                    .admin
                        p
                            i.far.fa-calendar-alt
                            | August 25, 2015 .
                        span
                            i.fas.fa-pen
                            | Admine  .
                        span
                            i.far.fa-comments
                            | 1
                    p Vivamus at convallis dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec egestas dolor vel pharetra consequat. Nullam ac leo non magna blandit fermentum a nec lectus.
                    hr
                    .pap.d-block.d-md-flex.mt-5.text-center.text-md-left
                        a.continue(href="#") CONTINUE READING
                        ul.mt-5.mt-md-0.list-unstyled.d-flex.justify-content-center.justify-content-md-left
                            li: a(href="#"): i.fab.fa-facebook-f 
                            li: a(href="#"): i.fab.fa-twitter 
                            li: a(href="#"): i.fab.fa-linkedin-in 
                            li: a(href="#"): i.fab.fa-google-plus-g  
                iframe.mb-3(width="100%" height="456.75" src="https://www.youtube.com/embed/53jfOvtV9DI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                .paper.mb-5
                    a.im-1(href="#")
                        i.far.fa-folder
                        | AUDIO . VIDEO
                    h2
                        
                        span San Diego from birds view

                    .admin
                        p
                            i.far.fa-calendar-alt
                            | July 11, 2015 .
                        span
                            i.fas.fa-pen
                            | Admine  .
                        span
                            i.far.fa-comments
                            | 1
                    p Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla.
                    hr
                    .pap.d-block.d-md-flex.mt-5.text-center.text-md-left
                        a.continue(href="#") CONTINUE READING
                        ul.mt-5.mt-md-0.list-unstyled.d-flex.justify-content-center.justify-content-md-left
                            li: a(href="#"): i.fab.fa-facebook-f 
                            li: a(href="#"): i.fab.fa-twitter 
                            li: a(href="#"): i.fab.fa-linkedin-in 
                            li: a(href="#"): i.fab.fa-google-plus-g  

            .col-12.col-md-4.order-1.order-md-12
                .serch
                    h3 Search site
                    hr.wed
                    div.d-flex.srch
                        input(type="text" placeholder="looking for........")
                        button.bot(type="button")
                            <i class="fas fa-search"></i>
                    h3.mt-5 Recent Posts
                    hr.wed
                    div.d-flex.recent.mb-3
                        div
                            a.fr(href="#"): img(src="../images/blog/summer-news-1-.jpg")
                        div.ml-3
                            p FEBRUARY 15, 2016
                            h2: a(href="#") Main pool reopened
                    div.d-flex.recent.mb-3
                        div
                            a.fr(href="#"): img(src="../images/blog/summer-news-2.jpg")
                        div.ml-3
                            p FEBRUARY 7, 2016
                            h2: a(href="#") New family rooms
                    div.d-flex.recent.mb-3
                        div
                            a.fr(href="#"): img(src="../images/blog/summer-news-3.jpg")
                        div.ml-3
                            p FEBRUARY 2, 2016
                            h2: a(href="#") Lots of activities planned
                    div.d-flex.recent.mb-3
                        div
                            a.fr(href="#"): img(src="../images/blog/summer-news-08.jpg")
                        div.ml-3
                            p SEPTEMBER 8, 2015
                            h2: a(href="#") Beach prepared for new season
                    div.d-flex.recent.mb-3
                        div
                            a.fr(href="#"): img(src="../images/blog/summer-news-10.jpg")
                        div.ml-3
                            p SEPTEMBER 3, 2015
                            h2: a(href="#") Best night photo at hotel
                    h3.mt-5 Archives
                    hr.wed
                    ul.list-unstyled.arch
                        li
                            a(href="#") 
                                span
                                | February 2016
                        li
                            a(href="#") 
                                span
                                | SEPTEMBER 2015
                        li
                            a(href="#") 
                                span
                                | August 2015
                        li
                            a(href="#") 
                                span
                                | July 2015
                    h3.mt-5 Categories
                    hr.wed
                    ul.list-unstyled.arch
                        li
                            a(href="#") 
                                span
                                | AUDIO
                        li
                            a(href="#") 
                                span
                                | GALLERY
                        li
                            a(href="#") 
                                span
                                | IMAGE
                        li
                            a(href="#") 
                                span
                                | UNCALEGORIZED
                        li
                            a(href="#") 
                                span
                                | VIDEO
                        

